.custom-width{
    width: 270px;
}

.leftbar-option{
    /* border: 2px solid black; */
    display: flex;
    flex:start;
    align-items: center;
    padding: 10px 15px;
    border-radius:6px ;
}

.leftbar-option:hover{
    background-color: rgb(198, 227, 251);
    cursor: pointer;
}

.active{
    background-color: rgb(198, 227, 251);
}