.VideoWatchSection{
    position: absolute;
    top: 56px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid red;
  }
  
  .VideoPlaySection {
    width: 100%;
    height: 100%;
    display: flex;
    border: 1px solid rgb(17, 122, 108); 
  }
  
  .VideoPlayer {
    /* border: 1px solid black; */
    height: 93%;
    width: 75%;
    margin: 10px;
  }
  
  .Video {
    /* border: 2px solid salmon; */
    width: 100%;
    height: 80%;
  }
  
  .VideoTag {
    width: 97%;
    height: 100%;
  }
  
  .VideoMetaData {
    display: flex;
    justify-content: space-between;
    /* border: 3px solid rgb(241, 172, 116); */
  }
  
  .VideoTitle {
    font-size: larger;
    font-weight: bolder;
    /* border: 3px solid gold; */
    margin: 3px;
    padding: 2px;
  }
  
  .LikeShareWatchLaterReportBtns span p {
    margin: auto;
    color: black;
    background-color: rgb(198, 227, 251);
    border-radius: 5px;
    padding: 0px 5px;
    font-size: 12px;
    display: none;
    margin-top: 42px;
    margin-left: 9px;
    position: fixed;
    font-weight: bold;
  }
  
  .VideoMetaBtn:hover {
    cursor: pointer;
  }
  
  #wlBtnText {
    width: 55px;
    text-align: center;
  }
  
  .LikeShareWatchLaterReportBtns {
    margin: 0px 10px;
    padding: 3px;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    /* border: 2px solid saddlebrown; */
  }
  
  .ChannelInfo {
    margin: 10px 5px;
    display: flex;
    width: 97%;
    padding: 7px;
    background: rgb(255, 255, 255); 
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0.5px 0.5px 5px #000000;
  }
  
  .ChannelPic {
    height: 53px;
    width: 53px;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
  }
  
  .ChannelName {
    align-self: center;
    /* border: 2px solid rgb(208, 174, 241); */
    font-size: large;
    font-weight: bold;
    margin: 0px 20px;
  }
  .QuizSection {
    /* border: 1px solid black; */
    height: 80%;
    width: 25%;
    margin: 10px;
    display: none;
  }
  
  
  /*Responsiveness Here*/
  
  @media screen and (max-width: 1123px) {
    .VideoPlaySection {
      flex-direction: column;
    }
  
    .VideoPlayer {
      width: 100%;
      height: 80%;
    }
  }
  
  @media screen and (max-width: 792px) {
    .VideoPlayer {
      height: 65%;
    }
  
    .VideoMetaData {
      flex-direction: column;
    }
  
    .LikeShareWatchLaterReportBtns {
      margin: 1px;
    }
  }
  
  @media screen and (max-width: 515px) {
    .VideoPlayer {
      height: 45%;
      margin: 0px;
    }
  }
  